.card {
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 9px 20px 0 rgba(66, 68, 90, 1);
}
.card .img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    text-align: center;
}
.card .img img {
    width: auto;
    height: 100%;
    display: inline-block;
}
.card .card-header {
    line-height: 24px;
    height: 62px;
    overflow: hidden;
    font-size: 22px;
}
.card .card-text {
    font-size: 14px;
    line-height: 18px;
    height: 54px;
    overflow: hidden;
}
.card .price-info {
    font-size: 26px;
}

.card .add-to-cart-btn {
    margin: 10px 0 10px auto;
    min-width: 150px;
}

.cart-container {
    background: #fff;
    padding: 30px;
    z-index: 999;
    width: 500px;
    position: fixed;
    right: -500px;
    top: 90px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 155px 15px 125px 15px/15px 125px 15px 155px;
    overflow: auto;
}
.cart-container.cart-open {
    right: 0;
    box-shadow: 0 9px 20px 0 rgba(66, 68, 90, 1);
}

.shopping-list .list-item {
    padding: 5px 0;
    margin-bottom: 10px;
}

.shopping-list .list-item .img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
    overflow: hidden;
    border: 1px solid #555;
    padding: 8px;
}

.shopping-list .list-item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shopping-list .list-item .amount {
    width: 90px;
    flex-shrink: 0;
    text-align: right;
    padding-right: 5px;
}
.shopping-list .list-item .title {
    padding: 0 10px;
    flex-grow: 1;
    width: 200px;
}

.shopping-list .list-item .btn-clear {
    width: 40px;
    flex-shrink: 0;
    padding: 1px 2px;
    min-width: 40px;
}

.alert-dismissible {
    position: fixed;
    width: 300px;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    z-index: 9999;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
